.container {
  height: 90vh;
  width: 100vw;
  padding: 30px;

  position: relative;
}
.btnCont {
  height: 80px;
  width: 80px;
  position: absolute;
  cursor: pointer;
  top: 85%;
  left: 90%;
}
@media (max-width: 600px) {
  .btnCont {
    top: 80%;
    left: 80%;
  }
}
